<h1>My Blogs  <%= link_to "(+)", new_blog_path, {:style=> 'text-decoration: none;'} if user_signed_in?%></h1> 
<ol>
<% @blogs.each do |blog| %>
  <% unless blog.archived%>
  <div>
  <h2><li> <%=link_to blog.title, blog_path(blog) %></h2>
  <p><%=blog.body%></p>
  </div>
  <%end%>
<%end%>
</ol>